/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Feb-2019, 18:04:15
    Author     : 118329866
*/


h1{
    color:white;
    text-align:center;
}

h2{
    color: white;
    text-align:center;
}

table{
margin-left: 250px;
}

h5 {
    color:grey;
    text-align: center;
}

tab{
    margin-left: 700px;
}