/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Feb-2019, 16:20:38
    Author     : 118329866
*/
table{
margin-left: 270px;
}

h1{
    color: paleturquoise;
    text-align:center;
    font-family: 'Times';
}

h2{
    color: lightskyblue;
    margin-left:100px;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("g.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}